@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(115deg, #56d8e4 10%, #1d3670 90%);
}
.container {
  /* max-width: 700px; */
  width: 50%;
  background: linear-gradient(115deg, #1d5d9b 10%, #1d367083 90%);
  padding: 3% 3%;
  border-radius: 5px;
  box-shadow: 3px 3px 2px #174666, -3px -3px 2px #174666;
}

.container .title {
  font-size: 3vh;
  font-weight: bold;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 20%;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4% 0 2% 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

.button {
  height: 6vh;
  margin: 35px 0;
}
.button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
::placeholder {
  font-size: 65%;
}
option {
  text-align: center;
}

.details {
  color: white;
}

.login-link {
  text-align: center;
}
.login-link a {
  color: #3498db;
  text-decoration: none;
}
.login-link a:hover {
  text-decoration: underline;
}
#quiztype {
  width: 43vmin;
  height: 3vmax;
  transform: translateX(50%);
}
@media (min-width: 200px) and (max-width: 800px) {
  .user-details {
    display: flex;
    flex-flow: column;
    font-size: 20px;
    height: 100%;
    width: 100vw;
  }
  input {
    width: 40vw !important;
    font-size: 10px !important;
  }
  .container {
    height: 90vh;
    width: 50%;
    background: none;
    padding: 3% 3%;
    border-radius: 5px;
    box-shadow: none;
    overflow-x: hidden;
  }
  ::placeholder {
    font-size: 6px;
  }
  #quiztype {
    margin-top: 10px !important;
    transform: translateX(0%) !important ;
    font-size: 10px;
  }
  body {
    background-color: #174666 !important;
    background: none;
    text-align: center!;
    /* overflow-x: none; */
  }
}
@media (min-width: 1023px) and (max-width: 1024px) {
  body {
    overflow-y: hidden;
  }
}
@media (min-width: 1279px) and (max-width: 1281px) {
  select {
    transform: translateX(30%) !important;
  }
}
@media (min-width: 1023px) and (max-width: 1025px) {
  select {
    transform: translateX(38%) !important;
  }
}
@media (width = 912px) {
  select {
    transform: translateX(0%) !important;
  }
}
@media (width = 820px) {
  select {
    transform: translateX(0%) !important;
  }
}
.email_span {
  font-size: small;
  color: red;
}
.hide {
  display: none;
}
